html {
  scroll-behavior: smooth;
}


body {
  max-width: 375px;
  margin: auto;
  background: #061508;
}

header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-end;
  background: #DFDFDF;
  padding: 16px;
  position: sticky;
  top: 0px;
}

.shopping-button {
  height: 40px;
  padding: 1px 0 0 0;
}

.brand {
  height: 50px;
}

.search-button {
  height: 35px;
  padding: 0 7px 7px 0;
}

.description {
  font-family: 'Maven Pro', sans-serif;
  color: white;
  padding: 12px 5px 0 5px;
}

.description strong {
  color: #008769;
}

main img {
 height: 330px;
  border : 14px solid #dfdfdf;
  margin: 30px 0 30px 0;
}

main h2 {
  font-family: 'Koulen', cursive;
  font-family: 'Maven Pro', sans-serif;
  background-color: rgb(142, 142, 196);
  font-size: 30px;
  color: white;
  padding: 54px;
  margin: 0 94px 0 94px;
  text-align: center;
}