html {
  scroll-behavior: smooth;
}


body {
  max-width: 375px;
  margin: auto;
  background: #061508;
}

header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-end;
  background: #DFDFDF;
  padding: 16px;
  position: sticky;
  top: 0px;
}

.header-fifties {
  background-color: #EEEDD9;
}

.shopping-button {
  height: 40px;
  padding: 1px 0 0 0;
}

.brand {
  height: 50px;
}

.search-button {
  height: 35px;
  padding: 0 7px 7px 0;
}

.description {
  font-family: 'Maven Pro', sans-serif;
  color: white;
  padding: 12px 5px 0 5px;
}

.description strong {
  color: #008769;
}

.picture {
 height: 330px;
  border : 14px solid #dfdfdf;
  margin: 30px 0 30px 0;
}

.button-buy {
  font-family: 'Koulen', cursive;
  font-family: 'Maven Pro', sans-serif;
  text-decoration: none;
  margin: 0 125px 0 125px;
  font-size: 30px;
  color: white;
  text-align: center;
}

.fifties-buy .button-buy {
  background-color: #EEEDD9;
  border: 10px #3D3C37;
  color: #00896B;
}

.button-buy:hover {
  background-color: #DFDFDF;
  color: red;
}

.sixties-buy .button-buy {
  background-color: #FFE107;
  border: 10px #245237;
  color: #00896B;
}

.button-buy:hover {
  background-color: #DFDFDF;
  color: red;
}

.seventies-buy .button-buy {
  background-color: #00896B;
  border: 10px #592E87;
  color: #812082;
}

.button-buy:hover {
  background-color: #DFDFDF;
  color: red;
}

.resellers h1 {
  font-family: 'Koulen', cursive;
  font-family: 'Maven Pro', sans-serif;
  color: white;
}

.resellers p {
  font-family: 'Maven Pro', sans-serif;
}

.resellers {
  color: white;
  text-align: center;
  margin: 100px;
}

footer {
  background: #DFDFDF;
  font-family: 'Maven Pro', sans-serif;
  text-decoration: none;
  padding: 12px 10px;
}

footer a {
  text-decoration: none;
  color: black;
}

.footer-fifties {
  background: #EEEDD9;
}

.logo-alien {
  margin: 30px;
}

.onethousand-fifty{
  font-family: 'Maven Pro', sans-serif;
  font-size: 120px;
  text-align: center;
  color:#00896B;
  margin-top: 0;
  margin-bottom: 0;
}

.description-fifties img{
  height: 277px;
  margin: 40px 0 40px 24px;
}

.picture-fifties {
  background-color: #EEEDD9;
  padding: 17px 67px 17px 67px;
}

.picture-fifties img{
  height: 430px;
}

.buy-box img{
  height: 60px;
}

.buy-box a {
    font-family: 'Maven Pro', sans-serif;
    font-size: 29px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    border-color: #3D3C37;
    background: #EEEDD9;
    color: #00896B;
    Text-decoration: none;
}

.buy-box a:hover {
  background-color: #DFDFDF;
  color: red;
}

.buy-box h1 {
  font-family: 'Maven Pro', sans-serif;
}

.buy-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: white;
  padding: 17px;
}

.information-box {
  background: #EEEDD9;
}

.information-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 10px 0 10px;
}

.information-title h3{
  font-family: 'Maven Pro', sans-serif;
  color: #00896B;
}

.information-subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 50px 0 10px;
}

.information-subtitle p{
  font-family: 'Maven Pro', sans-serif;
}

.backtime {
  margin: 60px;
}

.backtime a{
  font-family: 'Maven Pro', sans-serif;
    font-size: 29px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    border-color: #3D3C37;
    background: #EEEDD9;
    color: #00896B;
    Text-decoration: none;
}

.backtime a:hover {
  background-color: #DFDFDF;
  color: red;
}

.films-fifties {
  height: 577px;
}